<div class="container">
  <div id="signindiv" class="card">
    <article class="card-body">
      {{#if login_failed}}
        <h6 id="signinalertdiv" class="card-subtitle mb-2 text-danger">{{login_failure_reason}}</h6>
      {{/if}}
      <form>
        <div class="form-group">
          <button class="btn btn-light btn-block" type="button" onclick="openSignInWindow('/accounts/#/oauth2?' +
            'client_id=352b6e64-e498-4307-b64d-ec9e5b9da65c'+
            '&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Faccounts%2F%23%2Fdemo%2Foauth2-callback'+
            '&scope=read:profile,write:profile'+
            '&response_type=code'+
            '&response_mode=query'+
            '&nonce=sto7zydoa6o',
            'accounts_oauth2_popup')">
            <img class="mr-3" id="lock_img" src="{{rootURL}}assets/lock.png" alt="Lock">
            Sign In With AuthP
          </button>
        </div>
      </form>
    </article>
  </div>
</div>


<script>
  // CREDIT: https://dev.to/dinkydani21/how-we-use-a-popup-for-google-and-outlook-oauth-oci

  const receiveMessage = event => {
    console.log('receiving event')

    // Do we trust the sender of this message? (might be
    // different from what we originally opened, for example).
    if (event.origin !== 'http://localhost:4200') {
      return;
    }

    console.log('event.data = ' + event.data)

    // if we trust the sender and the source is our popup
    if (event.source.name === 'accounts_oauth2_popup') {
      // get the URL params and redirect to our server to use Passport to auth/login
      const payload = event.data;
      console.log('payload = ' + payload)
      const redirectUrl = `http://localhost:4200/accounts/#/demo/oauth2-post-signin${payload}`;
      window.location = redirectUrl;
    }
  };

  let windowObjectReference = null;
  let previousUrl = null;

  const openSignInWindow = (url, name) => {
    // remove any existing event listeners
    window.removeEventListener('message', receiveMessage);

    // window features
    const strWindowFeatures = 'toolbar=no, menubar=no, width=500, height=600, top=100, left=100';

    if (windowObjectReference === null || windowObjectReference.closed) {
      /* if the pointer to the window object in memory does not exist
       or if such pointer exists but the window was closed */
      windowObjectReference = window.open(url, name, strWindowFeatures);
    } else if (previousUrl !== url) {
      /* if the resource to load is different,
       then we load it in the already opened secondary window and then
       we bring such window back on top/in front of its parent window. */
      windowObjectReference = window.open(url, name, strWindowFeatures);
      windowObjectReference.focus();
    } else {
      /* else the window reference must exist and the window
       is not closed; therefore, we can bring it back on top of any other
       window with the focus() method. There would be no need to re-create
       the window or to reload the referenced resource. */
      windowObjectReference.focus();
    }

    // add the listener for receiving a message from the popup
    window.addEventListener('message', event => receiveMessage(event), false);
    // assign the previous URL
    previousUrl = url;
  };
</script>