<div class="container">
  <div class="row">
    <div class="col-md">
      <div id="cell">
        <div id="spinner" class="spinner-border text-danger" role="status"><span class="sr-only">Loading...</span></div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    let access_token
    sleep(1000)
    .then(() => { $('#spinner').hide(); })
    .then(() => {
      newMessage("Authorization Code Received").appendTo('#cell');
      sleep(1000)
      .then(() => { newSpinner('spinner2').appendTo('#cell') })
      .then(() => {
        sleep(1000)
        .then(() => { $('#spinner2').hide(); })
        .then(() => {
          newMessage('Exchanged For Access Token').appendTo('#cell')
          exchange_for_access_token()
          .then((response) => {
            return response.json()
          })
          .then((payload) => {
            access_token = payload.access_token
            console.log('access_token = ' + JSON.stringify(payload))
            newSpinner('spinner3').appendTo('#cell')
            sleep(1000)
            .then(() => { $('#spinner3').hide(); })
            .then(() => {
              newMessage('Calling API with Access Token').appendTo('#cell')
              newSpinner('spinner4').appendTo('#cell')
              sleep(1000)
              .then(() => { $('#spinner4').hide(); })
              .then(() => {
                call_api(access_token)
                .then((response) => response.json())
                .then((payload) => {
                  // console.log('payload = ' + JSON.stringify(payload))
                  let profile = payload.data.attributes
                  const firstname = profile.firstname
                  newMessage(`Profile ${profile.firstname} ${profile.lastname}`).appendTo('#cell')
                })
              })
            })
          })
        })
      })
    })
  })

  function newMessage(s) {
    return $('<span class="d-block p-2 bg-primary text-white">' + s + '</span>');
  }

  function newSpinner(id) {
    return $('<div id="' + id + '" class="spinner-border text-danger" style="margin-top: 10px;" role="status"><span class="sr-only">Loading...</span></div>')
  }

  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  function exchange_for_access_token() {
    let payload = {
      grant_type: "authorization_code",
      code: "f7cd9875-8386-4d16-97ef-7ae858ebe4c2",
      client_id: "352b6e64-e498-4307-b64d-ec9e5b9da65c",
      client_secret: "9191",
      redirect_uri: "foo"
    }

    let form_data = new FormData();

    for ( var key in payload ) {
      form_data.append(key, payload[key]);
    }

    return fetch('http://localhost:8080/oauth2/access_token', {
      method: 'POST',
      mode: 'cors',
      body: form_data
    })
  }

  function call_api(access_token) {
    return fetch('http://localhost:8080/users/a2aee5e6-05a0-438c-9276-4ba406b7bf9e', {
      method: 'GET',
      mode: 'cors',
      headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + access_token
      },
    })
  }
</script>