<div class="container">
  <div id="logo"><img id="logo_img" src="/ui/assets/lock.png" class="rounded mx-auto d-block" alt="Lock"></div>
  <div id="signindiv" class="card">
    <article class="card-body">
      <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
      {{#if login_failed}}
        <h6 id="signinalertdiv" class="card-subtitle mb-2 text-danger">{{login_failure_reason}}</h6>
      {{/if}}
      <hr>
      <form {{action "authenticate" on="submit"}}>
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group">
            <Input @type="text" @autocomplete="username" class="form-control" @value={{username}} @id="username" placeholder="Username or email address" @aria-label="Input group example" @aria-describedby="btnGroupAddon" />
          </div>
        </div>
        <div class="form-group">
          <label for="email">Password</label>
          <div class="input-group">
            <Input @type="password" @autocomplete="current-password" class="form-control" @value={{password}} @id="password" placeholder="Password" @aria-label="Input group example" @aria-describedby="btnGroupAddon" />
          </div>
        </div>
        <div class="form-group">
          <button id="sigin_btn" type="submit" class="btn btn-primary btn-block">Sign In</button>
        </div>
      </form>
    </article>
  </div>
</div>